*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    background: rgb(238, 165, 56);
    color: #fff;
    padding: 15px 0;
}

/* Form */

.form{
    background: rgb(238, 165, 56);
    /* border: 1px solid rgb(238, 165, 56); */
    border-width: 0 0 3px 0;
    box-shadow: 0px 5px 5px rgba(0,0,0, .2);
    display: flex;
    font-size: 1.5em;
}

.form > * {
    background: rgb(238, 165, 56);
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    padding: 20px;
    font-size: 18px;
}

.form > input {
    width: 80%;
}

.form > input ::placeholder{
    color: #fff;
    
}

/* btns */

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 300px;
}

.form > button {
    border-radius: 50%;
    transition: 0.5s;
}

.formButton-active {
    background: #26a69A;
    transform: rotate(100deg);
}



/* item biblio */

.list-items {
    font-size: 1.1em;
    padding: 0;
    perspective: 500px;
}

.item {
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 10px;
    transition: .6s;
}
.list-items li button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 150px;
}

.modify img, .favorite img {
    width: 25px;
    height: 25px;
}

.item span:first-child{
    width: 60%;
}
.item span:nth-child(2n){
    width: 50%;
}

.item span:nth-child(3n){
    width: 50%;
}

/* form update */

.form-modify {
    background: rgb(238, 165, 56);
    border-width: 0 0 3px 0;
    box-shadow: 0px 1px 5px rgba(0,0,0, .2);
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.form-modify > button {
    color: #fff;
}

.form-modify > * {
    background: rgb(238, 165, 56);
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    padding: 20px;
    font-size: 18px;
}

.form-modify > input {
    width: 80%;
}

.form-modify > input ::placeholder{
    color: #fff;
    
}

